<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="   
	http://www.springframework.org/schema/beans    
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd   
	http://www.springframework.org/schema/context   
	http://www.springframework.org/schema/context/spring-context-3.2.xsd   
	http://www.springframework.org/schema/aop    
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd   
	http://www.springframework.org/schema/tx    
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd     
	http://www.springframework.org/schema/util    
	http://www.springframework.org/schema/util/spring-util-3.2.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<!--  definition database model edit job-->
	<bean id="modelJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="schedulerService" />
		<property name="targetMethod" value="modelTask" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- definition index page auto publish job -->
	<bean id="publishJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="viewPublishService"></property>
		<property name="targetMethod" value="autoPublish"></property>
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- definition list page auto publish job -->
	<bean id="listPublishJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="viewListService"></property>
		<property name="targetMethod" value="publish"></property>
		<property name="concurrent" value="false" />
	</bean>

	<!-- database model edit job at 3 clock every day -->
	<bean id="modelTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="modelJob" />
		<property name="cronExpression">
			<value>0 0 1 * * ?</value>
		</property>
	</bean>
	
	<!-- index page auto publish at 1 clock every day -->
	<bean id="publishTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="publishJob"></property>
		<property name="cronExpression">
			<value>0 0 2 * * ?</value>
		</property>
	</bean>
	
	<!-- list page auto publish at 3 clock every day -->
	<bean id="listPublishTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="listPublishJob"></property>
		<property name="cronExpression">
			<value>0 0 3 * * ?</value>
		</property>
	</bean>

	<!--  scheduler configuration-->
	<bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="modelTrigger" />
				<ref local="publishTrigger"/>
				<ref local="listPublishTrigger"/>
			</list>
		</property>
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.scheduler.skipUpdateCheck">true</prop>
			</props>
		</property>
	</bean>
</beans>
