<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.cms.view.dao.ViewFormatMapper">
	<resultMap id="resultMap" type="cn.com.cms.view.model.ViewFormat">
		<result property="id" column="ID" />
		<result property="baseId" column="Base_ID" />
		<result property="formatType" column="Format_Type" />
		<result property="formatFields" column="Format_Fields" />
		<result property="createTime" column="Create_Time" />
		<result property="creatorId" column="Creator_ID" />
		<result property="updateTime" column="Update_Time" />
		<result property="updaterId" column="Updater_ID" />
	</resultMap>

	<select id="findAll" resultMap="resultMap">
		SELECT * FROM view_format
	</select>

	<select id="findByDBId" resultMap="resultMap" parameterType="Integer">
		<![CDATA[ SELECT * FROM view_format WHERE Base_ID = #{dbId} ]]>
	</select>

	<select id="find" resultMap="resultMap">
		SELECT * FROM view_format WHERE
		ID=#{id}
	</select>

	<insert id="insert">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
		view_format(Base_ID,Format_Type,Format_Fields,Create_Time,Creator_ID,Update_Time,Updater_ID)
		VALUES
		(#{baseId},#{formatType},#{formatFields},#{createTime},#{creatorId},#{updateTime},#{updaterId})
	</insert>

	<update id="update">
		UPDATE view_format SET
		Base_ID = #{baseId},
		Format_Type = #{formatType},
		Format_Fields = #{formatFields},
		Create_Time = #{createTime},
		Creator_ID = #{creatorId},
		Update_Time =#{updateTime},
		Updater_ID = #{updaterId}
		WHERE ID=#{id}
	</update>

	<delete id="delete">
		DELETE FROM view_format WHERE ID=#{id}
	</delete>

</mapper>